* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1d2021;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #282828;
}

#workspaces button {
    padding: 5px;
    color: #282828;
    margin-right: 5px;
}

#workspaces button.active {
    color: #928374;
}

#workspaces button.focused {
    color: #a89984;
    background: #1d2021;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cc241d;
    background: #fbf1c7;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #a89984;
    color: #1d2021;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #1d2021;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #282828;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1d2021;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #458588;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #d3869b;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a89984;
    border-radius: 10px;
    margin-left: 10px;
}

#network {
    color: #928374;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #83a598;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #98971a;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#backlight {
    color: #8ec07c;
    border-left: 0px;
    border-right: 0px;
}
