* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono nerd font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1d2021;
    color: #ebdbb2;
}

tooltip {
    background: #282828;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #1d2021;
}

#workspaces button {
    padding: 5px;
    color: #504945;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ebdbb2;
}

#workspaces button.focused {
    color: #ebdbb2;
    background: #4e635b;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #1d2021;
    background: #fb4934;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #4e635b;
    color: #ebdbb2;
    border-radius: 10px;
}


#window,
#clock,
#battery,
#temperature,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #1d2021;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #282828;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1d2021;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}



#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ebdbb2;
    border-radius: 10px;
    margin-left: 10px;
}
#temperature {
    color: #cc241d;
    border-radius: 10px 0 0 10px;
    border-right: 0px;
    margin-right: 0px;
}

#memory {
    color: #ebdbb2;
    border-right: 0;
    border-left: 0;
}

#network {
  border-left: 0px;
  border-right: 0px;
}
#pulseaudio {
    color: #83a598;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #689d6a;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

