* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono nerd font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #8be9fd;
}

tooltip {
    background: #282a36;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #282a36;
}

#workspaces button {
    padding: 5px;
    color: #928374;
    margin-right: 5px;
}

#workspaces button.active {
    color: #f1fa8c;
}

#workspaces button.focused {
    color: #f1fa8c;
    background: #282a36;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cc241d;
    background: #fbf1c7;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #21222c;
    color: #f8f8f2;
    border-radius: 10px;
}


#window,
#clock,
#battery,
#temperature,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #282a36;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #44475a;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #282a36;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}



#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #8be9fd;
    border-radius: 10px;
    margin-left: 10px;
}

#network {
    color: #928374;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #8be9fd;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #50fa7b;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#backlight {
    color: #8ec07c;
    border-left: 0px;
    border-right: 0px;
}
